extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    h1(class="mb-4") Thay đổi mật khẩu
    +alert-error(5000)
    form(action=`${prefixAdmin}/my-account/edit-password/?_method=PATCH` method="POST")
        div(class="form-group")
            label(for="fullName") Họ tên *
            input(type="text" class="form-control" id="fullName" name="fullName" value=user.fullName disabled)

        div(class="form-group")
            label(for="email") Email *
            input(type="email" class="form-control" id="email" name="email" value=user.email disabled)
        
        div(class="form-group")
            label(for="password") Mật khẩu cũ
            input(type="password" class="form-control" id="password" name="password")

        div(class="form-group")
            label(for="newPassword") Mật khẩu mới
            input(type="password" class="form-control" id="newPassword" name="newPassword")
        
        div(class="form-group")
            label(for="newPassword2") Xác nhận mật khẩu mới
            input(type="password" class="form-control" id="newPassword2" name="newPassword2")
            
        div(class="form-group")
            button(type="submit" class="btn btn-primary") Đổi mật khẩu