footer.footer 
    .container 
        .row 
            .col-md-12.text-center 
                p © 2023 Your Company. All rights reserved.
                p 
                    a(href="/privacy") Privacy Policy
                    |  | 
                    a(href="/terms") Terms of Service