extends ../../layouts/default.pug

include ../../mixins/alert.pug

block main 
  h1.mb-4 Phân quyền

  +alert-success(5000)

  if (records)
    div(data-records=records)

  table.table.table-hover.table-sm(table-permissions)
    thead
      tr 
        th Tính năng 
        each item in records 
          th.text-center #{item.title}
    
    tbody
      tr(data-name="id" class="d-none")
        td 
        each item in records 
          td.text-center
            input(type="text" value=item.id)

      // DANH MỤC SẢN PHẨM
      tr
        td(colspan="4") 
          b Danh mục sản phẩm

      tr(data-name="product-category_view")
        td Xem
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="product-category_create")
        td Thêm mới
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="product-category_edit")
        td Chỉnh sửa
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="product-category_delete")
        td Xoá
        each item in records
          td.text-center
            input(type="checkbox")

      // DANH SÁCH SẢN PHẨM
      tr
        td(colspan="4") 
          b Danh sách sản phẩm

      tr(data-name="product_view")
        td Xem
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="product_create")
        td Thêm mới
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="product_edit")
        td Chỉnh sửa
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="product_delete")
        td Xoá
        each item in records
          td.text-center
            input(type="checkbox")

      // NHÓM QUYỀN
      tr
        td(colspan="4") 
          b Nhóm quyền

      tr(data-name="role_view")
        td Xem
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="role_create")
        td Thêm mới
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="role_edit")
        td Chỉnh sửa
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="role_delete")
        td Xoá
        each item in records
          td.text-center
            input(type="checkbox")

      // PHÂN QUYỀN
      tr
        td(colspan="4") 
          b Phân quyền

      tr(data-name="permission_view")
        td Xem
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="permission_create")
        td Thêm mới
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="permission_edit")
        td Chỉnh sửa
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="permission_delete")
        td Xoá
        each item in records
          td.text-center
            input(type="checkbox")

      // TÀI KHOẢN
      tr
        td(colspan="4") 
          b Tài khoản

      tr(data-name="account_view")
        td Xem
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="account_create")
        td Thêm mới
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="account_edit")
        td Chỉnh sửa
        each item in records
          td.text-center
            input(type="checkbox")

      tr(data-name="account_delete")
        td Xoá
        each item in records
          td.text-center
            input(type="checkbox")

  div.text-end
    button.btn.btn-primary.mb-3(type="submit" button-submit) Cập nhật

  form#form-change-permissions.d-none(method="POST", action=`${prefixAdmin}/roles/permissions/?_method=PATCH`)
    .form-group
      input.form-control(type="text", name="permissions")

  script(src="/admin/js/role.js")
