html 
    head 
        title Create Product
    body 
        h1 Create Product
        p Welcome to the create product page
        p Xin chao cac ban
        p Xin chao cac ban
        p Day la trang tao san pham
        