.header 
    .container-fluid 
        .row.align-items-center
            .col-auto
                .inner-logo
                    a(href='/admin/dashboard') Admin Dashboard
            

            .col.text-end
                a(href=`${prefixAdmin}/my-account` class="btn btn-primary btn-sm mr-2" style="margin-right: 20px") #{user.fullName}
                a(href=`${prefixAdmin}/auth/logout` class="btn btn-danger btn-sm") Đăng xuất