.sider
    .inner-menu
        ul
            li: a(href=`${prefixAdmin}/dashboard`) Dashboard
            li: a(href=`${prefixAdmin}/products`) Products
            li: a(href='/admin/orders') Orders
            li: a(href='/admin/users') Users
            li: a(href='/admin/settings') Settings
